/*  ----------------------------
 *  Status bar components styles
 */

#pager-2 .horizontal {
    border-radius: 100px;
    background-color: #4c566a;
    margin: 2px;
}
#pager-2 #xfce-panel-toggle-button:checked {
    border-radius: 100px;
    background-color: #81a1c1;
}
#pager-2 #xfce-panel-toggle-button:hover {
    border-radius: 100px;
}

#clock-3 * {
    margin: 2px;
}

#wavelan-1 *,
#pulseaudio-4,
#power-manager-plugin-5 *,
#xfce4-clipman-plugin-6 {
    border-radius: 100px;
    margin: 2px;
}


/*  --------------------------
 *  Terminal emulator paddings
 */

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 32px 34px;
    -vteterminal-inner-border: 32px 34px;
}
